:root {
	font-size: 16px;
	line-height: 1.7;
	color: $text-color;

	@media all and ( max-width: 1024px ) {
		font-size: 14px;
	}

	@media all and ( max-width: 767px ) {
		font-size: 12px;
	}
}

body {
	font-size: 20px;
	line-height: 1.6;
	overflow-x: hidden;
	font-family: $font-family-base;
	background-image: url( '../img/bg-pattern.jpg' );
	background-repeat: repeat;
}

.trs {
	transition: all 0.3s linear;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1000px;
}

.por {
	position: relative;
}

.section_slider {
	.slider-content {
		position: relative;
		color: $white;
		margin: 0.5rem;

		.nav-text {
			font-size: 1.25rem;
			font-weight: 700;
			padding: 14px 20px 12px;
			border-right: 1px solid #fff;
			text-align: center;

			@media all and ( max-width: 1200px ) {
				font-size: 1rem;
				padding: 10px;
			}
		}
	}

	.slider_item:first-child {
		.nav-text {
			border-left: 1px solid #fff;
		}
	}

	.slider-nav {
		.slider_item {
			width: auto !important;
		}
	}

	h2 {
		color: $black;
		padding-left: 20px;
		text-transform: uppercase;
		margin-bottom: 20px;

		@media all and ( min-width: 768px ) {
			padding-left: 3.125rem;
		}
	}

	.slider_wrapper {
		background-color: $black;
	}
}

.slider-nav,
.slider-text {
	@media all and ( min-width: 1350px ) {
		width: 1350px !important;
		margin: 0 auto;
	}

	.slick-track {
		margin-left: 0;
	}
}

.slider-text {
	padding-bottom: 30px;

	@media all and ( max-width: 991px ) {
		padding-bottom: 10px;
	}

	p {
		font-size: 14px;
	}

	a {
		color: $yellow;
	}

	.slider_item {
		max-width: 100%;
	}
}

.slider-nav .slider-content {
	@media all and ( min-width: 992px ) {
		padding-top: 20px;
	}
}

.slick-slide.is-active .slider-content {
	color: $yellow;
}

.slider-nav .slick-slide {
	cursor: pointer;
	position: relative;
}

.slider-nav span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.image_wrapper {
	@media all and ( min-width: 992px ) {
		height: 500px;
		overflow: hidden;
	}

	img {
		width: 100%;
	}
}

.section_services {
	background-color: $white;
	border-radius: 10px;
	margin: 50px 20px;
	padding-top: 1.875rem;
	overflow: hidden;
	box-shadow: 0 0 5px lighten( $black, 80% );

	.h2 {
		text-align: left;
		text-transform: uppercase;
		padding-bottom: 0;
		padding-left: 20px;

		@media all and ( min-width: 768px ) {
			padding-left: 3.125rem;
		}
	}
}

/* progress bar */
.slider-progress {
	width: 100%;
	height: 5px;
	background: #5c5c5c;
	position: absolute;
	bottom: 0;
}

.slider-progress .progress {
	width: 0%;
	height: 5px;
	background: $yellow;
}

//Our Services
.our_services {
	display: flex;
	padding-bottom: 2.5rem;

	@media all and ( max-width: 991px ) {
		flex-direction: column;

		img {
			width: 100%;
		}
	}

	&-image {
		background-image: url( '../img/image5.jpg' );
		background-size: cover;
		background-position: 0 0;

		@media all and ( min-width: 992px ) {
			max-width: 40%;
			flex: 0 0 40%;
		}

		@media all and ( max-width: 991px ) {
			min-height: 350px;
			overflow: hidden;
			background-position: center;
		}
	}

	&-detail {
		padding-bottom: 3.125rem;

		@media all and ( min-width: 992px ) {
			max-width: 60%;
			flex: 0 0 60%;
		}

		@media all and ( max-width: 991px ) {
			padding: 40px 20px;
			padding-bottom: 0;
		}
	}

	&-row {
		margin-bottom: 20px;

		@media all and ( min-width: 992px ) {
			display: flex;
			margin-bottom: 50px;
			max-width: 600px;
		}

		h3 {
			text-transform: uppercase;

			@media all and ( min-width: 992px ) {
				padding-left: 3.125rem;
			}

			span {
				display: inline-block;

				@media all and ( min-width: 992px ) {
					padding: 5px 15px;
				}

				@extend .trs;
			}
		}

		&:hover {
			h3 {
				span {
					color: $white;
					background-color: $pink;
					box-shadow: 10px 10px 10px #ccc;
				}
			}

			.our_services-content {
				p {
					color: lighten( $black, 70% );
				}
			}
		}
	}

	&-title {
		flex: 1;
	}

	&-content {
		flex: 1;

		p {
			font-size: 12px;
			color: lighten( $black, 80% );

			@media all and ( min-width: 992px ) {
				max-width: 200px;
			}
		}
	}
}

.seeall {
	font-size: 11px;
	color: $pink;
	text-decoration: none;

	@extend .trs;

	@media all and ( min-width: 992px ) {
		padding-left: calc( 3.125rem + 15px );
	}

	span {
		display: inline-block;
		transform: translateX( 0 );
		font-size: 13px;
		position: relative;
		top: 1px;

		@extend .trs;
	}

	&:hover {
		span {
			transform: translateX( 5px );
		}
	}
}
